@import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@700&family=Montserrat:wght@400;500;700&display=swap');

:root {

    --main-font: 'Fahkwang', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
    --black: #0F0F0F;
    --white: #F5F5F5;
    --gray: #828282;
}

/* video background */
#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

body {
    /* background-color: var(--black); */
    min-height: 100vh;
}

main {
    height: 80vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}


.main-heading {
    font-family: var(--main-font);
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    color: var(--white);

}

.main-heading-outline {
    font-family: var(--main-font);
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--white);
}

.main-heading-scroll {
    display: flex;
    position: relative;
    width: 100%;
    height: 150px;
    margin: auto;
    z-index: 1;
}

.m-scroll__title {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transform: scale(2);
    transition: all 1s ease;
}

.m-scroll__title .ltr {
    display: flex;
    -webkit-animation: scrollText 33s infinite linear;
    animation: scrollText 33s infinite linear;
}

.m-scroll__title .rtl {
    display: flex;
    -webkit-animation: scrollTextToLeft 33s infinite linear;
    animation: scrollTextToLeft 33s infinite linear;
}

@-webkit-keyframes scrollText {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes scrollText {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}

@-webkit-keyframes scrollTextToLeft {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes scrollTextToLeft {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0%);
    }
}


.logo,
.logo:hover {
    font-family: var(--main-font);
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.16em;
    text-align: center;
    color: var(--white);
    text-decoration: none;

}

.buttons {
    display: flex;
}

.buttons button {
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
}

.buttons button:last-child {
    color: var(--white);
    text-decoration: underline;
}

/* footer */

.copyright {
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    color: var(--gray);
}

.social-icons {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;

}

.social-icons a {
    color: var(--gray);
    text-decoration: none;
    font-size: 16px;
}

/* Modals */
.btn-form-submit,
.btn-form-submit:hover {
    background-color: var(--black);
    color: var(--white);
}

.modal .title {
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--black);
}

.modal p {
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
}

.modal .col-form-label {
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #4F4F4F;
}

.modal .form-control {
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #4F4F4F;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;
}

.modal .form-control:not(:placeholder-shown),
.modal .form-select:selected {
    border: 1px solid var(--black);
    box-sizing: border-box;
    border-radius: 4px;
    color: var(--black);
}

.modal select>option {
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--black);
}

.modal select>option:hover {
    color: var(--white);
    background-color: var(--black);
}


/* MEdia Screan 426px */
@media screen and (max-width: 1023px) {

    .main-heading,
    .main-heading-outline {
        font-size: 75px;
        line-height: 1;
    }

    .main-heading-scroll {
        height: 100px;
    }
}

@media screen and (max-width: 768px) {

    .main-heading,
    .main-heading-outline {
        font-size: 46px
    }

    .main-heading-outline {
        -webkit-text-stroke-width: 1px;
    }
}